h1{
    font-family: var(--fraunces-font-family);
    font-weight: var(--fraunces-font-weight);
    font-style: var(--fraunces-font-style);
    font-size: 32px;
    line-height: 32px;
}

p{
    font-family: var(--montserrat-font-family);
    font-style: var(--montserrat-font-style);
    font-size: 14px;
    line-height: normal;
}