/* Utility classes */
.bg-primary {
    background-color: var(--Very-dark-blue);
}
.bg-secondary {
  background-color: var(--Dark-grayish-blue);
}
.bg-white{
  background-color: var(--White);
}
.flex {
  display: flex;
}
.center{
  text-align: center;
}